watch_file tools/scripts/bootstrap/bazelisk.sh tools/scripts/bootstrap/devtools.sh
watch_file tools/scripts/bootstrap/install_devtools.sh
watch_file tools/BUILD.bazel tools/rules/rust/toolchain.bzl
watch_file tools/rules/tooling/extensions.bzl
watch_file Cargo.toml go.mod go.sum MODULE.bazel .bazelversion
./tools/scripts/bootstrap/devtools.sh || exit 1
PATH_add .tools/bin
PATH_add .tools/sdk/go/bin
PATH_add .tools/sdk/rust/bin
export GOROOT="$PWD/.tools/sdk/go"
export RUST_SRC_PATH="$PWD/.tools/sdk/rust-analyzer/lib/rustlib/src/library"
export GOPATH="$PWD/.tools/go"
export CARGO_HOME="$PWD/.tools/cargo"
export XDG_CACHE_HOME="$PWD/.tools/cache"
export GOCACHE="$PWD/.tools/cache/go-build"
export GOPLSCACHE="$PWD/.tools/cache/gopls"
