watch_file tools/scripts/bootstrap/bazelisk.sh
./tools/scripts/bootstrap/bazelisk.sh || exit 1
PATH_add .tools/bin
if [ -x "$PWD/.tools/sdk/go/bin/go" ]; then
  PATH_add .tools/sdk/go/bin
  export GOROOT="$PWD/.tools/sdk/go"
fi
if [ -x "$PWD/.tools/sdk/rust/bin/cargo" ]; then
  PATH_add .tools/sdk/rust/bin
fi
export GOPATH="$PWD/.tools/go"
export CARGO_HOME="$PWD/.tools/cargo"
export GOCACHE="$PWD/.tools/cache/go-build"
